.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #fff;
    width: 100%;
    padding: 20px;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    width: 1260px;
    margin: 0 auto;
}

.header .inner .front {
    display: flex;
}

.header .inner .front figure {
    margin: 6px 0 0 30px;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    line-height: 2.5;

    font-size: 18px;
    font-weight: 700;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li:last-child:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -75%;
    transform: translate(0, -45%);

    width: 1px;
    height: 18px;
    background: rgb(192, 192, 192);

}

.header .snb>ul {
    display: flex;
    gap: 30px;
    line-height: 3.2;

    font-size: 14px;
    font-weight: 500;
}

.header .util_box {
    display: flex;
    flex-direction: column;
}

.header .tophead ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    text-align: right;
    margin: 0 310px 0 0;
    padding: 30px 0;

    font-size: 14px;
    color: #999;
}

.header .tophead ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translate(0, -40%);

    width: 1px;
    height: 12px;
    background: rgb(192, 192, 192);
}

.header .util_box {
    position: relative;
    display: inline-block;
    width: 230px;
    height: 48px;
    border: 1px solid #b70f28;
    border-radius: 4px 16px 4px 16px;
}

.header .util_box figure {
    position: absolute;
    top: 12px;
    left: 10px;
}

.header .util_box p {
    position: absolute;
    top: 14px;
    left: 40px;
    color: #999;
}

.mainVisual {
    position: relative;
    width: 1220px;
    margin: 0 auto;
}

.mainVisual .mainSlide {
    position: relative;
    height: 400px;
    padding: 100px 0;
}

.mainSlide .slick-dots {
    position: absolute;
    top: 125px;
    right: 40px;
    z-index: 1;
    width: 240px;
    height: 350px;
    padding: 50px 0;
    border-radius: 0.8rem 3.6rem 0.8rem 3.6rem;
    background: rgba(22, 23, 29, .45);
}

.mainSlide .slick-dots>li {
    display: flex;
    color: #fff;
    font-weight: 500;
    margin: 0 0 50px 20px;
    cursor: pointer;
}

.mainSlide .slick-dots>li:first-child:after {
    position: absolute;
    right: 30px;
    content: "";
    width: 3px;
    height: 240px;
    background-color: #333;
}

.mainVisual .main_num {
    position: absolute;
    bottom: -75px;
    left: 105px;
    background: rgba(22, 23, 29, .45);
    padding: 10px 25px;
    border-radius: 5rem;
    color: #fff;
}