.header {
    width: 1220px;
    margin: 0 auto;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
}

.header .inner .front {
    display: flex;
}

.header .inner .front figure {
    margin: 6px 0 0 30px;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    line-height: 2.5;

    font-size: 18px;
    font-weight: 700;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li:last-child:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -75%;
    transform: translate(0, -45%);

    width: 1px;
    height: 18px;
    background: rgb(192, 192, 192);

}

.header .snb>ul {
    display: flex;
    gap: 30px;
    line-height: 3.2;

    font-size: 14px;
    font-weight: 500;
}

.header .util_box {
    display: flex;
    flex-direction: column;
}

.header .tophead ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 20px 0;

    font-size: 14px;
    color: #999;
}

.header .tophead ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translate(0, -40%);

    width: 1px;
    height: 12px;
    background: rgb(192, 192, 192);
}

.header .util_box {
    position: relative;
    display: inline-block;
    width: 230px;
    height: 48px;
    border: 1px solid #b70f28;
    border-radius: 4px 16px 4px 16px;
}

.header .util_box figure {
    position: absolute;
    top: 12px;
    left: 10px;
}

.header .util_box .search_input {
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 45px;
    outline: 0;
    border-radius: 4px 16px 4px 16px;
    font-size: 14px;
}



.mainVisual {
    position: relative;
    width: 1220px;
    margin: 0 auto;
}

.mainVisual .mainSlide {
    position: relative;
    height: 400px;
    padding: 30px 0;
}


.mainSlide .slick-dots {
    position: absolute;
    top: 60px;
    right: 100px;
    z-index: 1;
    width: 240px;
    height: 350px;
    padding: 50px 0;
    border-radius: 0.8rem 3.6rem 0.8rem 3.6rem;
    background: rgba(22, 23, 29, .45);
}

.mainSlide .slick-dots>li {
    display: flex;
    color: #fff;
    font-weight: 500;
    margin: 0 0 50px 20px;
    cursor: pointer;
}

.mainSlide .slick-dots>li:first-child:after {
    position: absolute;
    right: 30px;
    content: "";
    width: 3px;
    height: 240px;
    background-color: #333;
}

.mainVisual .main_num {
    position: absolute;
    bottom: -10px;
    left: 120px;
    background: rgba(22, 23, 29, .45);
    padding: 10px 25px;
    border-radius: 5rem;
    color: #fff;
}



.mainIcon {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    padding: 80px 0;
}

.mainIcon .left_Box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;
    width: 410px;
    height: 140px;
    border: 1px solid #f9f9f9;
    border-radius: 0.8rem;
    background: #fff url(../img/why.png) no-repeat 270px 50%;
    background-size: 110px;
    box-shadow: 0 0.2rem 0.4rem 0 rgb(22 23 29 / 4%), 0 0 0.1rem 0 rgb(22 23 29 / 20%);

}

.mainIcon .left_Box .flaglist {
    padding: 0 40px;
}

.mainIcon .left_Box h2 {
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: 700;
}

.mainIcon .left_Box span {
    font-size: 13px;
    padding: 2px;
    background: #e2e8ee;
    border: 0;
    border-radius: 0.4rem;
    margin: 0 10px 0 0;
}


.mainIcon .right_list ul {
    display: flex;
    gap: 50px;
    margin: 0 30px;
}

.mainIcon .right_list ul li {
    flex: 1;
    text-align: center;

}


.mainIcon .right_list ul figure {
    background: #f9f9f9;
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

.mainIcon .right_list ul img {
    width: 70px;
    height: 70px;
    transform: translate(0, 25%);
}

.mainIcon .right_list ul>li span {
    font-size: 14px;
    font-weight: 500;
    padding: 20px 0;
}



.mainWrap {
    height: 570px;
    background: #f9f9f9;
}

.mainWrap .inner {
    width: 1220px;
    margin: 0 auto;
}

.mainWrap .inner h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #333;
    padding: 100px 0 50px 0;
}

.mainWrap .inner .txt_box {
    position: relative;
    margin: 0 auto;
    width: 500px;
    border-bottom: 3px solid #333;
    padding: 10px 0;
}

.mainWrap .inner .txt_box .car_input {
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 15px;
    outline: 0;
    background: #f9f9f9;
}

.mainWrap .inner .txt_box figure {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.mainWrap .inner .tag {
    text-align: center;
    padding: 30px 0;
}

.mainWrap .inner .tag span {
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    padding: 10px;
    margin: 0 10px;
    border-radius: 20%;
}

.mainWrap .inner .select_box {
    width: 1220px;
    margin: 0 auto;
}

.mainWrap .inner select {
    width: 200px;
    padding: 5px;
    border: 1px solid #f8f8f8;
    font-family: 'Nanumgothic';
    border-radius: 3px;
}